# Database (URL 형식과 Non-URL 형식 중 하나를 선택)
## URL 형식 (도커 사용 불가)
DATABASE_URL=

## Non-URL 형식
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOSTNAME= # 해당 값은 도커로 실행할 때 필요하지 않음.
DATABASE_PORT= # 해당 값은 도커로 실행할 때 필요하지 않음.
DATABASE_AUTH_SOURCE=admin

## 필수 값
DATABASE_NAME=

# 봇
BOT_TOKEN=
BOT_PREFIX=
BOT_OWNER_ID=

# 명령어
COMMAND_DEVELOPER_ONLY_GUILD_ID=


# 서비스
SERVICE_PRIVACY_POLICY_URL=https://github.com/Muffin-laboratory/terms/blob/main/privacy_policy.md
SERVICE_TERM_OF_SERVICE_URL=https://github.com/Muffin-laboratory/terms/blob/main/term_of_service.md

# 챗봇
CHATBOT_GEMINI_TOKEN=
CHATBOT_GEMINI_PROMPT_PATH=
CHATBOT_GEMINI_MODEL=gemini-2.5-flash
CHATBOT_TRAIN_USER_ID= # 필수값 아님

# 깃허브
# 패치 노트 가져올 때 필수
GITHUB_OWNER=Muffin-laboratory
GITHUB_REPO=goMuffin
