# Database (URL 형식과 Non-URL 형식 중 하나를 선택)
## URL 형식
DATABASE_URL=

## Non-URL 형식
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOSTNAME= # 해당 값은 도커로 실행할 때 필요하지 않음.
DATABASE_PORT=
DATABASE_AUTH_SOURCE= # 기본 값: admin

## 필수 값
DATABASE_NAME=

# 봇
BOT_TOKEN=
BOT_PREFIX=
BOT_OWNER_ID=


# 서비스
SERVICE_PRIVACY_POLICY_URL=
SERVICE_TERM_OF_SERVICE_URL=

# 챗봇
CHATBOT_GEMINI_TOKEN=
CHATBOT_GEMINI_PROMPT_PATH=
CHATBOT_GEMINI_MODEL= # 기본 값은 gemini-2.5-flash
CHATBOT_TRAIN_USER_ID= # 필수값 아님